body{
    background: #243b55;
}
table{
    margin-top: 30px;
    text-align: center;
    background: rgba(0,0,0,0.9);
    color: #fff;
    }
    #show th,#show td{
    padding: 13px;
    }
    #btno td input{
    width:100%;
    }
